.navbar {
    background-color: #333;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

    .navbar img {
        margin-top: 0px;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

        .navbar ul li {
            margin-bottom: 10px;
        }

    .navbar a {
        color: white;
        text-decoration: none;
    }

        .navbar a:hover {
            color: lightgray;
        }
