<div class="navbar">
    <img src="/Images/logo-color.png"/>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/outlet">Outlet</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
